

body {
    margin: 0;
    padding: 0;
    background: #ffe4f0;
    font-family: 'Poppins', sans-serif;
}

.container {
    text-align: center;
    padding-top: 120px;
}

.title {
    font-size: 42px;
    color: #d63384;
    font-weight: 600;
}

.subtitle {
    font-size: 18px;
    color: #b6004c;
    margin-top: -10px;
}

.love-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://png.pngtree.com/png-vector/20220622/ourmid/pngtree-cute-pink-heart-pattern-png-image_5149118.png");
    background-size: 200px;
    opacity: 0.15;
    z-index: -1;
}

.heart {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 40px auto;
}

.heart:before,
.heart:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 100px;
    background: #ff79c1;
    border-radius: 60px 60px 0 0;
    top: 0;
    left: 30px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

